[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
