{% extends "blog/base.html" %}

{% block title %}

Baseball Home

{% endblock %}

{% block navbar %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="LeaderboardsDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Leaderboards
    </a>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="LeaderboardsDropdown">
        <li>
            <h3 class="dropdown-header d-flex justify-content-center text-info">Batting</h3>
        </li>
        <a class="dropdown-item d-flex justify-content-center" href="{% url 'baseball:leaderboards' 'career' 'batting' %}">Career</a>
        <a class="dropdown-item d-flex justify-content-center" href="{% url 'baseball:leaderboards' 'current' 'batting' %}">Active</a>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <h6 class="dropdown-header d-flex justify-content-center text-info">Pitching</h6>
        </li>
        <a class="dropdown-item d-flex justify-content-center" href="{% url 'baseball:leaderboards' 'career' 'pitching' %}">Career</a>
        <a class="dropdown-item d-flex justify-content-center" href="{% url 'baseball:leaderboards' 'current' 'pitching' %}">Active</a>
    </ul>
</li>
<form class="dropdown" action="{% url 'baseball:player-search' %}" method="get">
    <input class="form-control navbar-player-search dropdown-toggle bg-light" name="q" id="id_q" type="search"
        placeholder="Player Search" aria-label="Search" autocomplete="off"
        data-bs-toggle="dropdown">
    <ul class="dropdown-menu" id="search_dropdown_list">
    </ul>
</form>

{% endblock %}

{% block body %}

{% block baseball_body %}

<h2 class="d-flex justify-content-center text-danger">Baseball Home</h2>

{% endblock %}



<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        const searchField = document.querySelector('#id_q');
        searchField.addEventListener('focus', () => {
            searchField.addEventListener('keyup', () => dropdownResults());
        });
    });

    function dropdownResults(event) {
        const queryString = document.querySelector('#id_q').value;

        if (queryString.length >= 3) {
            fetch('{% url "baseball:player-search" %}', {
                method: 'POST',
                credentials: 'same-origin',
                body: JSON.stringify({
                    ss: queryString,
                })
            })
            .then(response => response.json())
            .then(data => {
                let results = []
                for (const num in data) {
                    const eachPlayer = document.createElement('li');

                    const playerLink = document.createElement('a');
                    playerLink.setAttribute('class',
                        'dropdown-item list-group list-group-horizontal d-flex justify-content-between py-2 pe-0');
                    const link = `/baseball/player/${data[num].id}`;
                    playerLink.setAttribute('href', link);

                    const playerName = document.createElement('span');
                    playerName.setAttribute('class', 
                        'list-group-item border-0 py-0 ps-sm-4 ps-3 pe-1 text-wrap player-search-result-name');
                    playerName.textContent = data[num].name;

                    const playerYears = document.createElement('span');
                    playerYears.setAttribute('class', 
                        'list-group-item border-0 py-0 ps-1 pe-3 text-wrap player-search-result-years d-flex align-items-center');
                    playerYears.textContent = `${data[num].first_year} - ${data[num].last_year}`;

                    playerLink.appendChild(playerName);
                    playerLink.appendChild(playerYears);
                    eachPlayer.appendChild(playerLink);

                    results.push(eachPlayer);
                };

                const searchDropdown = document.querySelector('#search_dropdown_list');

                searchDropdown.innerHTML = ""

                if (results.length > 0) {
                    results.forEach(result => {
                        searchDropdown.appendChild(result);
                    });
                } else {
                    searchDropdown.textContent = "No Results";
                };

            });
        };
    };


</script>

{% endblock %}
