{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&#124;&lt;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&lt;</a>
                </li>
                
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&#124;&lt;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&lt;</span>
                </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num  %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&gt;</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">&gt;&#124;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&gt;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">&gt;&#124;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}