{% extends "baseball/baseball_base.html" %}

{% block baseball_body %}
<h2 class="d-flex justify-content-center py-2 my-0">{{ player.name }}</h2>
<header class="batting-stats" {% if career.default_batting %} style="display:block;" {% else %} style="display:none;" {% endif %}>
    <div class="row py-3">
        <div class="btn-group col-md-2">
            <button type="button" class="btn btn-primary active">Batting</button>
            <button id="select-pitching-stats" type="button" class="btn btn-outline-primary">Pitching</button>
        </div>
        <div class="col-md-8 pt-3 pt-md-0">
            <div class="row justify-content-center">
                <span class="col-6 col-sm-4 d-flex justify-content-center fw-bold">
                    {{ table_headers.bat_avg }}: 
                </span>
                <span class="col-6 col-sm-4 d-flex justify-content-center fw-bold">
                    {{ table_headers.bat_rate_avg }}:
                </span>
            </div>
            <div class="row justify-content-center">
                <span class="col-6 col-sm-4 d-flex justify-content-center">
                    {{ career.bat_career}}/{{ career.bat_peak}}/{{ career.bat_avg}}
                </span>
                <span class="col-6 col-sm-4 d-flex justify-content-center">
                    {{ career.bat_rate_career}}/{{ career.bat_rate_peak}}/{{ career.bat_rate_avg}}
                </span>
            </div>       
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="table-responsive-md">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Team</th>
                            <th scope="col">G</th>
                            <th scope="col">PA</th>
                            <th scope="col">wRC+</th>
                            <th scope="col">BsR</th>
                            <th scope="col">Off</th>
                            <th scope="col">Def</th>
                            <th scope="col">WAR</th>
                            <th scope="col">{{ table_headers.bat_rate_career }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for season in batting %}
                        <tr>
                            <th scope="row">{{ season.year }}</th>
                            <td>{{ season.team }}</td>
                            <td>{{ season.g }}</td>
                            <td>{{ season.pa }}</td>
                            <td>{{ season.wrc_plus }}</td>
                            <td>{{ season.bsr }}</td>
                            <td>{{ season.off }}</td>
                            <td>{{ season.def_field }}</td>
                            <td class="table-active">{{ season.war }}</td>
                            <td>{{ season.war_per_600 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
</header>
<header class="pitching-stats" {% if not career.default_batting %} style="display:block;" {% else %} style="display:none;" {% endif %}>
    <div class="row py-3">
        <div class="btn-group col-md-2">
            <button id="select-batting-stats" type="button" class="btn btn-outline-primary">Batting</button>
            <button type="button" class="btn btn-primary active">Pitching</button>
        </div>
        <div class="col-md-8 pt-3 pt-md-0">
            <div class="row justify-content-center">
                <span class="col-6 col-sm-4 d-flex justify-content-center fw-bold">
                    fJAWS: 
                </span>
                <span class="col-6 col-sm-4 d-flex justify-content-center fw-bold">
                    fRateJAWS:
                </span>
            </div>
            <div class="row justify-content-center">
                <span class="col-6 col-sm-4 d-flex justify-content-center">
                    {{ career.pit_career}}/{{ career.pit_peak}}/{{ career.pit_avg}}
                </span>
                <span class="col-6 col-sm-4 d-flex justify-content-center">
                    {{ career.pit_rate_career}}/{{ career.pit_rate_peak}}/{{ career.pit_rate_avg}}
                </span>
            </div>       
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="table-responsive-md">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Team</th>
                            <th scope="col">G</th>
                            <th scope="col">GS</th>
                            <th scope="col">IP</th>
                            <th scope="col">K/9</th>
                            <th scope="col">BB/9</th>
                            <th scope="col">ERA</th>
                            <th scope="col">FIP</th>
                            <th scope="col">WAR</th>
                            <th scope="col">WARr</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for season in pitching %}
                        <tr>
                            <th scope="row">{{ season.year }}</th>
                            <td>{{ season.team }}</td>
                            <td>{{ season.g }}</td>
                            <td>{{ season.gs }}</td>
                            <td>{{ season.ip }}</td>
                            <td>{{ season.k_per_9 }}</td>
                            <td>{{ season.bb_per_9}}</td>
                            <td>{{ season.era }}</td>
                            <td>{{ season.fip }}</td>
                            <td class="table-active">{{ season.war }}</td>
                            <td>{{ season.war_per_200 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>   
        </div>
    </div>
    

</header>

{% endblock %}