{% extends "baseball/baseball_base.html" %}

{% block baseball_title %}
{% if q %} {{ q }} - {% endif %}Player Search 
{% endblock %}

{% block baseball_body %}

{% if q %}
    <div class="row">
        <div class="col offset-lg-2 offset-md-1">
            {% include "baseball/paginator.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col offset-lg-2 offset-md-1">
            {% with results.count as total_results %}
            <p class="lead d-flex justify-content-start">
                Players containing "{{ q }}" - {{ total_results }} result{{ total_results|pluralize }} found.
            </p>
            {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 offset-lg-2 offset-md-1">
            <table class="table table-primary table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="visually-hidden">Result Number</th>
                        <th scope="col" class="visually-hidden">Player Name</th>
                        <th scope="col" class="visually-hidden">Years Played</th>
                    </tr>
                </thead>    
                <tbody>
                    {% for player in page_obj %}
                    <tr>
                        <td scope="row">{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td>
                            <a href="{{ player.get_absolute_url }}" class="text-decoration-none text-body fw-bold">{{ player.name }}</a>
                        </td>
                        <td>{{ player.first_year }} - {{ player.last_year }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="row">
        <div class="col offset-lg-2 offset-md-1">
            {% include "baseball/paginator.html" %}
        </div>
    </div>
{% else %}
<div>
    <p class="d-flex justify-content-center">
        Enter your search in the 'Player Search' field above.
    </p>
</div>
{% endif %}

{% endblock %}