{% extends "baseball/baseball_base.html" %}

{% block title %}
Player Search {% if q %} - {{ q }} {% endif %}
{% endblock %}

{% block baseball_body %}

{% if q %}
<div>
    {% with results.count as total_results %}
    <p class="lead">Players containing "{{ q }}" - {{ total_results }} result{{ total_results|pluralize }} found.</p>

        {% endwith %}

    <ul class="list-group">
        {% for player in results %}
        <a href="{{ player.get_absolute_url }}" class="list-group-item border-0 dropdown-item">
        <span>{{ player.name }}</span>
        <span>{{ player.first_year }} - {{ player.last_year }}</span>
        </a>

        <!-- <li class="list-group-item">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <a href="{{ player.get_absolute_url }}">{{ player.name }}</a>
                </li>
                <li class="list-group-item">
                    <span>{{ player.first_year }} - {{ player.last_year }}</span>
                </li>
            </ul>
            
        </li> -->
        {% empty %}
        <p>There are no results for your query.</p>
        {% endfor %}
    </ul>
</div>
{% else %}
<div>
    <p class="d-flex justify-content-center">
        Enter your search in the 'Player Search' field above.
    </p>
</div>
{% endif %}

{% endblock %}