{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap-utilities.min.css' %}">
    <script defer src="{% static 'blog/JS/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <h1 class="text-primary">Hello World!</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

{% block body %}

{% endblock %}
  </div>
</body>
</html>
