{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title> 
        {% block title %}
        {% endblock %}
        | Tim's Site
    </title>
</head>

<body>
    <header class="bg-dark sticky-top">
 
        <div class="container">
            <nav class="navbar  navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarMainContent" aria-controls="navbarMainContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMainContent">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a href="{% url 'blog:home' %}" class="nav-link">Tim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'baseball:baseball-home' %}">Baseball</a>
                            </li>
                            {% block navbar %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="min-vh-100 bg-light pt-3 pb-5">
        <div class="container">
            {% block body %}

            <h2 class="d-flex justify-content-center text-warning">Home Sweet Home</h2>

            {% endblock %}
        </div>

    </main>
</body>
</html>